
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

/*.button {
    background-color: #FF6B00;
    border-radius: 5px;
}
*/

button {
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
    border-radius: 5px;
	outline: black;
	text-align: center;
	color: black;
    background-color: #FF6B00;
    font : bold 14px "Josefin Sans"; 
}

.logmdp {
    border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
    border-radius: 5px;
	outline: none;
	text-align: center;
	color: black;
    background-color: white;
    font : bold 14px "Josefin Sans"; 
}

input {
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: hidden;
	outline: none;
	text-align: center;
	font-size: 13px;
}

.GAKALL {
    font : bold 36px "Josefin Sans";
    color: #FF6B00;
}

.textnoire{
    font : bold 13px "Josefin Sans";
    color: black;
    text-align: center;
}
.textorange{
    font : bold 13px "Josefin Sans";
    color: #FF6B00;
    text-align: center;
}


/*
Sport {
    font : 36px Josefin Sans;
    font-weight: bold;
    color: black;
}
*/