.image-ronde{
    width : 150px; height : 150px;
    border: none;
    -moz-border-radius : 75px;
    -webkit-border-radius : 75px;
    border-radius : 75px;
}

.selection{
    opacity: 1;
    display: block;
    width: 100%;
    background-color : #bff1ff;
}

.addFriend{
    opacity: 1;
    display: block;
    width: 100%;
    background-color : #c6ffbf;
}

.messageOur{
    opacity: 0.8;
    display: block;
    width: 100%;
    color:white;
    background-color : rgb(0, 207, 0);
    margin-bottom: 5px;
    border-radius: 25px;
}

.messageYour{
    opacity: 0.8;
    display: block;
    width: 100%;
    color:white;
    background-color : rgb(160, 160, 160);
    margin-bottom: 5px;
    border-radius: 25px;
}